.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.site-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 600px;
  overflow-y: auto;
}

.videoBg {
  object-fit: cover;
  filter: brightness(.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo-container {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;

  margin-bottom: 48px;
}

.politics-logo {
  width: 100%;
}

.discord-logo {
  filter: brightness(1.2);
  opacity: .9;
  width: 100%;
  max-width: 400px;
}
.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 1%;
}

.socials {
  display: flex;
  justify-content: center;
}

.social-link {
  padding: 12px 20px;
  opacity: .8;
}

.copyright {
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px #2d2f33;
}

@media(min-width: 1920px) {
  .site-container {
    min-height: 980px;
  }
  
  .discord-logo {
    max-width: 600px;
  }

  .socials {
    font-size: 40px;
  }

  .social-link {
    padding: 20px 44px;
    opacity: .8;
  }

  .copyright {
    font-size: 40px;
  }
}